.AudioContainer {
    background: none;
    position: relative;
    z-index: 990999;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.AudioContainer img {
    padding-right: 10px;
    padding-left: 10px;
}