.quizzContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.questionCounter {
    display: flex;
    justify-content: space-between;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.questionContainer {
    margin-top: 5%;
    background: linear-gradient(180deg, rgba(175,102,38,1) 0%, rgba(133,76,33,1) 100%);
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 5%;
    padding-left: 5%;
    border: 4px solid #283618;
    border-radius: 20px;
}

.question {
    
    height: auto;
    color: white;
    display: flex;
    text-align: center;
}

.answer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.answer button {
    background: #283618;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400; 
    border: 4px solid #283618;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.answer button:active {
    background: black;
    color: white;
}

.next {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 10px;
}

.next button {
    background: transparent;
    border: none;
}

.next button img {
    width: 80%;
}


.correct {
    background:  green !important;
    color: white;
    border: none;
}

.questionCounter {
    color: white;
    background:#283618 ;
    border-radius: 25px;
    padding:0px 20px 0px 20px;
    height: auto;
    margin-top: 10px;
}
