.score {
    background: linear-gradient(180deg, rgba(175,102,38,1) 0%, rgba(133,76,33,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top: 10%;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 95%;
    text-align: center;
    border: 4px solid #283618;
    border-radius: 25px;
}

.Info {
    background: #283618;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 5px;
    border-radius: 25px;
}

.score p {
    font-size: 24px;
}

.score h2 {
    background: #283618;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 15px;
    border-radius: 25px;
}

.score button {
    font-size: 24px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    background: linear-gradient(180deg, rgba(175,102,38,1) 0%, rgba(133,76,33,1) 100%);
    border: 4px solid #283618;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 15px;
    color: white;
    border-radius: 25px;
}

.finalContainer {
    display: flex;
    background: linear-gradient(180deg, rgba(175,102,38,1) 0%, rgba(133,76,33,1) 100%);
    border: 4px solid #283618;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 15px;
    color: white;
    border-radius: 25px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.finalContainer button {
    font-size: 24px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    background: linear-gradient(180deg, rgba(175,102,38,1) 0%, rgba(133,76,33,1) 100%);
    border: 4px solid #283618;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 15px;
    color: white;
    border-radius: 25px;
}